# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv/
venv/

# Testing / tooling
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editors / OS
.idea/
.vscode/
.DS_Store
